<div class="card" ng-if="items">
	<div class="card-header">STUDENT LIST</div>
	<div class="card-body pt-3 pb-1">
		<table class="table table-collapse table-bordered">
			<thead class="bg-primary text-white">
				<tr>
					<th>Mã trường</th>
					<th>Mã ngành</th>
					<th>Hệ TN</th>
					<th>Loại TN</th>
					<th>Ngày TN</th>
					<th>Số CMND</th>
					<th>Họ và tên</th>
					<th>Email</th>
					<th>Số điện thoại</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<th class="align-middle">{{item.graduate.matruong}}</th>
					<th class="align-middle">{{item.graduate.manganh}}</th>
					<th class="align-middle">{{item.graduate.hetn}}</th>
					<th class="align-middle">{{item.graduate.loaitn}}</th>
					<th class="align-middle">{{item.graduate.ngaytn}}</th>
					<th class="align-middle">{{item.socmnd}}</th>
					<td class="align-middle">{{item.hoten}}</td>
					<td class="align-middle">{{item.email}}</td>
					<td class="align-middle">{{item.sdt}}</td>
					<td class="align-middle">
						<div class="btn-group btn-group-xs">
							<button ng-click="edit(item)" class="btn btn-sm btn-warning fas fa-edit"></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="card-footer text-center">
			<button ng-click="pager.first()" class="btn btn-danger">
				<i class="fas fa-step-backward"></i>
			</button>
			<button ng-click="pager.prev()" class="btn btn-primary">
				<i class="fas fa-chevron-left"></i>
			</button>
			<button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
			<button ng-click="pager.next()" class="btn btn-primary">
				<i class="fas fa-chevron-right"></i>
			</button>
			<button ng-click="pager.last()" class="btn btn-danger">
				<i class="fas fa-step-forward"></i>
			</button>
		</div>
	</div>
</div>